<nav class="level">
  <div class="level-left">
  </div>
  <div class="level-right">
    <div class="level-item">
      <b-button
        icon-left="save"
        icon-pack='fa'
        @click="onSave"
      >
        Save
      </b-button>
    </div>
    <div class="level-item">
      <b-button
        icon-left="edit"
        icon-pack='fa'
        @click="editable = true"
      >
      </b-button>
    </div>
  </div>
</nav>

<b-field grouped>
  <b-field label="First Name" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="60"
      :disabled="!editable"
      v-model="selected.first_name"
    ></b-input>
  </b-field>
  <b-field label="Last Name" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="60"
      :disabled="!editable"
      v-model="selected.last_name"
    ></b-input>
  </b-field>
  <b-field label="Suffix" label-position="on-border">
    <b-input
      :lazy=true
      maxlength="10"
      :disabled="!editable"
      v-model="selected.suffix"
    ></b-input>
  </b-field>
</b-field>
<b-field grouped>
  <b-field label="Pub First Name" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="60"
      :disabled="!editable"
      v-model="selected.pseudonym_first_name"
    ></b-input>
  </b-field>
  <b-field label="Pub Last Name" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="60"
      :disabled="!editable"
      v-model="selected.pseudonym_last_name"
    ></b-input>
  </b-field>
  <b-field label="Pub Suffix" label-position="on-border">
    <b-input
      :lazy=true
      maxlength="10"
      :disabled="!editable"
      v-model="selected.pseudonym_suffix"
    ></b-input>
  </b-field>
</b-field>
<b-field grouped>
  <b-field label="Pronouns" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.pronouns"
    ></b-input>
  </b-field>
</b-field>
<b-field grouped>
  <b-field label="Job Title" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.job_title"
    ></b-input>
  </b-field>
  <b-field label="Organization" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.organization"
    ></b-input>
  </b-field>
</b-field>

<b-field grouped>
  <b-field label="Invite Status" label-position="on-border" expanded>
    <b-select
      :disabled="!editable"
      v-model="selected.invite_status"
    >
      <option value="not_set">Unknown</option>
      <option value="do_not_invite">Do not invite</option>
      <option value="potential_invite">Potential Invite</option>
      <option value="invite_pending">Invite Pending</option>
      <option value="invited">Invited</option>
      <option value="volunteered">Volunteered</option>
    </b-select>
  </b-field>
  <b-field label="Acceptance Status" label-position="on-border" expanded>
    <b-select
      :disabled="!editable"
      v-model="selected.acceptance_status"
    >
      <option value="unknown">Unknown</option>
      <option value="probable">Probable</option>
      <option value="accepted">Accepted</option>
      <option value="declined">Declined</option>
    </b-select>
  </b-field>
</b-field>

<b-field grouped>
  <b-field>
    <b-switch
      :lazy=true
      :disabled="!editable"
      :left-label=true
      v-model="selected.registered"
    >Registered</b-switch>
  </b-field>
  <b-field label="Reg Type" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.registration_type"
    ></b-input>
  </b-field>
  <b-field label="Reg Number" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.registration_number"
    ></b-input>
  </b-field>
</b-field>

<b-field grouped>
  <b-field>
    <b-switch
      :lazy=true
      :disabled="!editable"
      :left-label=true
      v-model="selected.opted_in"
    >Opted In</b-switch>
  </b-field>
  <b-field>
    <b-switch
      :lazy=true
      :disabled="!editable"
      :left-label=true
      v-model="selected.can_share"
    >Can Share</b-switch>
  </b-field>
  <b-field>
    <b-switch
      :lazy=true
      :disabled="!editable"
      :left-label=true
      v-model="selected.can_photo"
    >Can Photo</b-switch>
  </b-field>
  <b-field>
    <b-switch
      :lazy=true
      :disabled="!editable"
      :left-label=true
      v-model="selected.can_record"
    >Can Record</b-switch>
  </b-field>
</b-field>

<b-field grouped>
  <b-field label="Gender" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.gender"
    ></b-input>
  </b-field>
  <b-field label="Ethnicty" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.ethnicity"
    ></b-input>
  </b-field>
  <b-field label="Year of Birth" label-position="on-border" expanded>
    <b-input
      :lazy=true
      maxlength="100"
      :disabled="!editable"
      v-model="selected.year_of_birth"
    ></b-input>
  </b-field>
</b-field>


<b-field grouped>
  <b-field label="Comments" label-position="on-border" expanded>
    <b-input
      v-model="selected.comments"
      maxlength="2000"
      :disabled="!editable"
      type="textarea">
    </b-input>
  </b-field>
</b-field>
