
<b-nav>
  <b-navbar-nav class="ml-auto px-3 py-2">
    <b-nav-form>
      <b-button
        @click="slotProps.save"
        :disabled="!slotProps.editable"
      >
        Save
      </b-button>
      <b-button
        @click="slotProps.edit"
      >
        <i class="fas fa-edit"></i>
      </b-button>
    </b-nav-form>
  </b-navbar-nav>
</b-nav>

<div class="row">
  <div class="col mb-3 form-floating"></div>
</div>
<div class="row">
  <div class="col mb-3 form-floating">
    <label>First Name</label>
    <b-form-input
      v-model="slotProps.selected.first_name"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Last Name</label>
    <b-form-input
      label="Last Name"
      v-model="slotProps.selected.last_name"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Suffix</label>
    <b-form-input
      label="Suffix"
      v-model="slotProps.selected.suffix"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <label>Pseudonym First Name</label>
    <b-form-input
      v-model="slotProps.selected.pseudonym_first_name"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Pseudonym Last Name</label>
    <b-form-input
      v-model="slotProps.selected.pseudonym_last_name"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Pseudonym Suffix</label>
    <b-form-input
      v-model="slotProps.selected.pseudonym_suffix"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <label>Pronouns</label>
    <b-form-input
      v-model="slotProps.selected.pronouns"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Job Title</label>
    <b-form-input
      v-model="slotProps.selected.job_title"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Organization</label>
    <b-form-input
      v-model="slotProps.selected.organization"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <label>Invite Status</label>
    <b-form-select
      :disabled="!slotProps.editable"
      v-model="slotProps.selected.invite_status"
    >
      <b-form-select-option value="not_set">Unknown</b-form-select-option>
      <b-form-select-option value="do_not_invite">Do not invite</b-form-select-option>
      <b-form-select-option value="potential_invite">Potential Invite</b-form-select-option>
      <b-form-select-option value="invite_pending">Invite Pending</b-form-select-option>
      <b-form-select-option value="invited">Invited</b-form-select-option>
      <b-form-select-option value="volunteered">Volunteered</b-form-select-option>
    </b-form-select>
  </div>
  <div class="col mb-3">
    <label>Acceptance Status</label>
    <b-form-select
      :disabled="!slotProps.editable"
      v-model="slotProps.selected.acceptance_status">
      <b-form-select-option value="unknown">Unknown</b-form-select-option>
      <b-form-select-option value="probable">Probable</b-form-select-option>
      <b-form-select-option value="accepted">Accepted</b-form-select-option>
      <b-form-select-option value="declined">Declined</b-form-select-option>
    </b-form-select>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <b-form-checkbox
      v-model="slotProps.selected.registered"
      :disabled="!slotProps.editable"
      switch
      size="lg"
    >
      Registered
    </b-form-checkbox>
  </div>
  <div class="col mb-3 form-floating">
    <label>Reg Type</label>
    <b-form-input
      v-model="slotProps.selected.registration_type"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Reg Number</label>
    <b-form-input
      v-model="slotProps.selected.registration_number"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <b-form-checkbox
      v-model="slotProps.selected.opted_in"
      :disabled="!slotProps.editable"
      switch
      size="lg"
    >
      Opted In
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="slotProps.selected.can_share"
      :disabled="!slotProps.editable"
      switch
      size="lg"
    >
      Can Share
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="slotProps.selected.can_photo"
      :disabled="!slotProps.editable"
      switch
      size="lg"
    >
      Can Photo
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="slotProps.selected.can_record"
      :disabled="!slotProps.editable"
      switch
      size="lg"
    >
      Can Record
    </b-form-checkbox>
  </div>
</div>

<!-- label-position="on-border" -->
<div class="row">
  <div class="col mb-3 form-floating">
    <label>Gender</label>
    <b-form-input
      v-model="slotProps.selected.gender"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Ethnicty</label>
    <b-form-input
      v-model="slotProps.selected.ethnicity"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
  <div class="col mb-3 form-floating">
    <label>Year of Birth</label>
    <b-form-input
      v-model="slotProps.selected.year_of_birth"
      :disabled="!slotProps.editable"
      type="text"
    ></b-form-input>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <label>Comments</label>
    <b-form-textarea
      v-model="slotProps.selected.comments"
      :disabled="!slotProps.editable"
      maxlength="2000"
    ></b-form-textarea>
  </div>
</div>
