
<b-nav>
  <b-navbar-nav class="ml-auto px-3 py-2">
    <b-nav-form>
      <b-button>
        Save
      </b-button>
      <b-button>
        <i class="fas fa-edit"></i>
      </b-button>
    </b-nav-form>
  </b-navbar-nav>
</b-nav>


<div class="row">
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.first_name"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>First Name</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      label="Last Name"
      v-model="selected.last_name"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Last Name</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      label="Suffix"
      v-model="selected.suffix"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Suffix</label>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.pseudonym_first_name"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Pub First Name</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.pseudonym_last_name"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Pub Last Name</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.pseudonym_suffix"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Pub Suffix</label>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.pronouns"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Pronouns</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.job_title"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Job Title</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.organization"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Organization</label>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <label>Invite Status</label>
    <b-form-select
      :disabled="!editable"
      v-model="selected.invite_status"
    >
      <b-form-select-option value="not_set">Unknown</b-form-select-option>
      <b-form-select-option value="do_not_invite">Do not invite</b-form-select-option>
      <b-form-select-option value="potential_invite">Potential Invite</b-form-select-option>
      <b-form-select-option value="invite_pending">Invite Pending</b-form-select-option>
      <b-form-select-option value="invited">Invited</b-form-select-option>
      <b-form-select-option value="volunteered">Volunteered</b-form-select-option>
    </b-form-select>
  </div>
  <div class="col mb-3">
    <label>Acceptance Status</label>
    <b-form-select
      :disabled="!editable"
      v-model="selected.acceptance_status">
      <b-form-select-option value="unknown">Unknown</b-form-select-option>
      <b-form-select-option value="probable">Probable</b-form-select-option>
      <b-form-select-option value="accepted">Accepted</b-form-select-option>
      <b-form-select-option value="declined">Declined</b-form-select-option>
    </b-form-select>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <b-form-checkbox
      v-model="selected.registered"
      :disabled="!editable"
      switch
      size="lg"
    >
      Registered
    </b-form-checkbox>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.registration_type"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Reg Type</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.registration_number"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Reg Number</label>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <b-form-checkbox
      v-model="selected.opted_in"
      :disabled="!editable"
      switch
      size="lg"
    >
      Opted In
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="selected.can_share"
      :disabled="!editable"
      switch
      size="lg"
    >
      Can Share
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="selected.can_photo"
      :disabled="!editable"
      switch
      size="lg"
    >
      Can Photo
    </b-form-checkbox>
  </div>
  <div class="col mb-3">
    <b-form-checkbox
      v-model="selected.can_record"
      :disabled="!editable"
      switch
      size="lg"
    >
      Can Record
    </b-form-checkbox>
  </div>
</div>

<!-- label-position="on-border" -->
<div class="row">
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.gender"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Gender</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.ethnicity"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Ethnicty</label>
  </div>
  <div class="col mb-3 form-floating">
    <b-form-input
      v-model="selected.year_of_birth"
      :disabled="!editable"
      type="text"
    ></b-form-input>
    <label>Year of Birth</label>
  </div>
</div>

<div class="row">
  <div class="col mb-3 form-floating">
    <b-form-textarea
      v-model="selected.comments"
      :disabled="!editable"
      maxlength="2000"
    ></b-form-textarea>
    <label>Comments</label>
  </div>
</div>
