<%#= stylesheet_pack_tag 'people_vue' %>
<%= javascript_pack_tag 'people_vue' %>

<div id="people-app">
  <div>
    <table-component
      select-event="selectedPerson"
      sort-field="published_last_name"
      sort-order="asc"

      :columns="columns"
      :collection="collection"
      :model-type="modelType"
    ></table-component>
  </div>

  <sidebar-component
    select-event="selectedPerson"
  >
    <template v-slot:header="slotProps">
      <div v-if="slotProps.selected">
        <h1 class="title">{{slotProps.selected.published_name}}</h1>
      </div>
    </template>
    <template v-slot:content="slotProps">
      <div v-if="slotProps.selected" class="px-3 py-2">
        <b-tabs content-class="mt-3">
          <b-tab title="Details" active>
            <%= render partial: "person_details" %>
          </b-tab>
          <b-tab title="Bio">
            <p>TODO: BIO</p>
          </b-tab>
          <b-tab title="Tags">
            <p>TODO: TAGS</p>
          </b-tab>
        </b-tabs>
      </div>
    </template>
  </sidebar-component>

<!--
"comments": null,
 -->

       <!-- TODO: put tags and bio into a seperate tab -->
                   <!--
                   <b-field grouped>
                     <b-field label="Tags">
                       <b-taginput
                           v-model="selected.tags"
                           ellipsis
                           icon="label"
                           placeholder="Add a tag"
                           aria-close-label="Delete this tag">
                       </b-taginput>
                     </b-field>
                   </b-field>
                   -->


</div>
