<%= stylesheet_pack_tag 'people_vue' %>
<%= javascript_pack_tag 'people_vue' %>

<div id="people-app">
  <div>
    <table-component
      :sort-field="sortField"
      :sort-order="sortOrder"
      :columns="columns"
      :collection="collection"
      v-on:selected="setSelected($event)"
    ></table-component>
  </div>

  <sidebar-component
    ref='sidebarComponent'
    :has-selected="hasSelected"
  >
    <div class="p-1">
      <div v-if="selected">
        <section class="section">
          <div class="box">
            <h1 class="title">{{selected.published_name}}</h1>
          </div>
          <div class="box">
            <b-field label="First Name" label-position="on-border">
              <b-input
                :lazy=true
                maxlength="60"
                disabled
                v-model="selected.first_name"
              ></b-input>
            </b-field>
            <b-field label="Last Name" label-position="on-border">
              <b-input
                :lazy=true
                maxlength="60"
                disabled
                v-model="selected.last_name"
              ></b-input>
            </b-field>
          </div>
        </section>
      </div>
    </div>
  </sidebar-component>
</div>
