<%#= stylesheet_pack_tag 'people_vue' %>
<%= javascript_pack_tag 'people_vue' %>

<div id="people-app">
  <div>
    <table-component
      ref='tableComponent'
      :sort-field="sortField"
      :sort-order="sortOrder"
      :columns="columns"
      :collection="collection"
      v-on:selected="setSelected($event)"
      v-on:create="onCreate($event)"
    ></table-component>
  </div>

  <!--
  <sidebar-component
    ref='sidebarComponent'
    :has-selected="hasSelected"
  >
    <template v-slot:header>
      <div v-if="selected">
        <h1 class="title">{{selected.published_name}}</h1>
      </div>
    </template>
    <template v-slot:content>
      <div class="p-3">
        <div v-if="selected">
          <div class="box">
            <b-tabs>
              <b-tab-item label="Details">
                <%= render partial: "person_details" %>
              </b-tab-item>
              <b-tab-item label="Bio">
              </b-tab-item>
              <b-tab-item label="Tags">
              </b-tab-item>
            </b-tabs>
          </div>
        </div>
      </div>
    </template>
  </sidebar-component>
<!--
"comments": null,
 -->

       <!-- TODO: put tags and bio into a seperate tab -->
                   <!--
                   <b-field grouped>
                     <b-field label="Tags">
                       <b-taginput
                           v-model="selected.tags"
                           ellipsis
                           icon="label"
                           placeholder="Add a tag"
                           aria-close-label="Delete this tag">
                       </b-taginput>
                     </b-field>
                   </b-field>
                   -->


</div>
