<%= javascript_pack_tag 'survey_vue' %>

<div id="survey-app">
  <div>
    <table-component
      ref='tableComponent'
      :sort-field="sortField"
      :sort-order="sortOrder"
      :columns="columns"
      :collection="collection"
    ></table-component>
  </div>
</div>
