<%= javascript_pack_tag 'survey_vue' %>

<div id="survey-app">
  <div>
    <table-component
      select-event="selectedSurvey"
      sort-field="name"
      sort-order="asc"

      :columns="columns"
      :collection="collection"
    ></table-component>
  </div>
</div>
