<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email for <%= @convention_name %> Planorama through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% if !Rails.env.production? %>
  <p><b>Brought to you by <%= Rails.env%></b></p>
<% end %>
