<!-- TODO: test login and user roles -->
<% if current_user %>
<div id='side-menu' class="column is-one-fifth">
  <b-menu>
    <b-menu-list label="Menu">
      <b-menu-item icon="planner" :active="isActive" expanded>
        <template slot="label" slot-scope="props">
          Planner
          <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-down' : 'menu-up'"></b-icon>
        </template>
        <b-menu-item icon="venues" label="Venues"
          tag='a' href="/page/venues"
          v-bind:active="currentLocation == '/page/venues'"
        ></b-menu-item>
        <b-menu-item
          icon="people" label="People"
          tag='a' href="/page/people"
          v-bind:active="currentLocation == '/page/people'"
        ></b-menu-item>
        <b-menu-item icon="schedule" label="Schedule"
          tag='a' href="/page/program"
          v-bind:active="currentLocation == '/page/program'"
        ></b-menu-item>
        <b-menu-item icon="surveys" label="Surveys"
          tag='a' href="/page/surveys"
          v-bind:active="currentLocation == '/page/surveys'"
        ></b-menu-item>
        <b-menu-item icon="reports" label="Reports"
          tag='a' href="/page/reports"
          v-bind:active="currentLocation == '/page/reports'"
        ></b-menu-item>
      </b-menu-item>
      <b-menu-item icon="account" label="My Account">
        <b-menu-item label="Account data"></b-menu-item>
        <b-menu-item label="Addresses"></b-menu-item>
      </b-menu-item>
    </b-menu-list>
    <b-menu-list>
      <!-- <b-menu-item label="Expo" icon="link" tag="router-link" target="_blank" to="/expo"></b-menu-item> -->
    </b-menu-list>
    <b-menu-list label="Actions">
      <b-menu-item label="Logout"></b-menu-item>
    </b-menu-list>
  </b-menu>
</div>
<% end %>
