
<div id='top-navbar' class="container">
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
            src="https://i1.wp.com/chicon.org/wp-content/uploads/2018/08/2022ChicagoWorldconBidLogo_3Color_Web_800_TransparentBack.png"
            alt="Planorama: SF Convention Planning Tool"
        >
      </b-navbar-item>
    </template>

    <template slot="start">
      <b-navbar-item href="/">
        Home
      </b-navbar-item>
      <b-navbar-item
        v-bind:active="currentLocation == '/page/venues'"
        href="/page/venues"
      >
        Venues
      </b-navbar-item>
      <b-navbar-item
        bind:active="currentLocation == '/page/people'"
        href="/page/people"
      >
        People
      </b-navbar-item>
      <b-navbar-item
        bind:active="currentLocation == '/page/program'"
        href="/page/program"
      >
        Schedule
      </b-navbar-item>
      <b-navbar-item
        bind:active="currentLocation == '/page/surveys'"
        href="/page/surveys"
      >
        Surveys
      </b-navbar-item>
      <b-navbar-item
        bind:active="currentLocation == '/page/reports'"
        href="/page/reports"
      >
        Reports
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <a class="button is-primary">
            Log in
          </a>
        </div>
      </b-navbar-item>
    </template>
  <b-navbar>
</div>
