<% if current_person %>
<div id='top-navbar'>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Planorama</b-navbar-brand>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/page/venues" :active="currentLocation == '/page/venues'">Venues</b-nav-item>
        <b-nav-item href="/page/people" :active="currentLocation == '/page/people'">People</b-nav-item>
        <b-nav-item href="/page/program" :active="currentLocation == '/page/program'">Schedule</b-nav-item>
        <b-nav-item href="/page/surveys" :active="currentLocation == '/page/surveys'">Surveys</b-nav-item>
        <b-nav-item href="/page/reports" :active="currentLocation == '/page/reports'">Reports</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <%= link_to('Logout', destroy_person_session_path, method: :delete, class: 'btn btn-primary my-2 my-sm-0') %>
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
<% end %>
