  <div id="top-navbar" class="col-12">
    <b-navbar toggleable="lg" type="light" class="align-items-baseline">
      <b-navbar-brand href="/">Planorama</b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <help-link></help-link>
          <a href="https://chicagoworldcon.github.io/planorama" target="_blank" class="btn btn-link text-light my-2 my-sm-0 mx-2">About</a>
          <%= link_to('Logout', destroy_person_session_path, method: :delete, class: 'btn btn-link text-light my-2 my-sm-0') %>
        </b-nav-form>
      </b-navbar-nav>
    </b-navbar>
  </div>
